<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/static/Images/chopper-logo.png" type="image/x-icon">

  <title>
    Anime Sage
  </title>
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- responsive style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">

</head>

<body>
  <!-- header section strats -->
  <div class="hero_area">
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img src="/static/Images/chopper-logo.png" alt="Icon" class="navbar-icon">
          <span>
            Anime Sage
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="border-radius: 15px ;">
          <ul class="navbar-nav  ">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">
                Home
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('recommendation') }}">Recommend Me<span
                  class="sr-only">(current)</span></a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">
                About Us
              </a>
            </li>
          </ul>
          <div class="user_option">
            <a href="{{ url_for('login') }}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                Login
              </span>
            </a>
            <!-- <form class="form-inline ">
              <button class="btn nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form> -->
          </div>
        </div>
      </nav>
    </header>
  </div>
  <!-- end header section -->


  <!-- Search section -->

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-sm-6 text-center search-bar-container">
        <h2 style="margin-bottom: 20px;">Enter your Anime</h2>
        <form class="input-group" method="post">
          <input type="text" class="form-control py-4" placeholder="Search..." name="searched_anime">
          <div class="input-group-append">
            <button class="btn btn-primary btn-block" type="submit"
              style="background-color: #3E89AE; border-color: #3E89AE; border-top-right-radius:10px ; border-bottom-right-radius:10px; width: 70px;"><i
                class="fa fa-search fa-lg"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--End Search section -->


  <!-- Recommendation section starts -->
  
  {% if status == True %}
  <section class="popular_section layout_padding" style="margin-bottom:100px ;">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Your Recommendations
        </h2>
      </div>
      <div class="row">

        {% for i in range (anime_name|length) %}

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ anime_poster[i] }}" alt="anime_name[i]">
              </div>
              <div class="detail-box">
                <h6>
                  {{ anime_name[i] }}
                </h6>
                <h6>
                  <span>
                    {{ anime_genre[i] }}
                  </span>
                </h6>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

  <!-- Recommendation section ends -->


  <!-- error msg code starts -->
  {% if error_msg == True %}
  
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-sm-6 text-center search-bar-container">
        <h6 style="margin-bottom: 20px;">We apologize for the inconvenience. We regret that our dataset lacks
          sufficient data. Occasionally, we may not have the English name of the anime you're looking for. Try
          replacing it with your Japanese name in the right format.</h6>

      </div>
    </div>
  </div>
  
  {% endif %}
  <!-- error msg code ends -->


  <!-- info section -->
  <section class="info_section  layout_padding2-top" style="margin-top:70px">
    <div class="social_container">
      <div class="social_box">
        <a href="">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>
              ABOUT US
            </h6>
            <p>
              Welcome to our anime recommendation system! We are excited to bring you personalized anime recommendations
              based on the content you love. Our system utilizes a content-based approach to understand your preferences
              and suggest anime that align with your interests.
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              Watch Anime Online
            </h6>
            <div class="anime_links">
              <ul>
                <li><a href="https://aniwatch.to/" target="_blank">aniwatch</a></li>
                <li><a href="https://animeflix.live/" target="_blank">ANIMEFLIX</a></li>
                <li><a href="https://9animes.ph/" target="_blank">9ANIME</a></li>
                <li><a href="https://www4.gogoanimes.fi/" target="_blank">GOGO ANIME TV</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              DISCLAIMER
            </h6>
            <p>
              Anime recommendations are generated based on content analysis and user preferences. Individual taste may
              differ. Users should use discretion when selecting anime. We do not endorse or guarantee the quality of
              recommended anime. The creators are not liable for any dissatisfaction. Enjoy your anime-watching
              experience!
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> Gb road 123 london Uk </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>+01 12345678901</span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> demo@gmail.com</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- end info section -->


  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>

</body>

</html>